:root {
--couleur-primaire: #ffffff;
}
body{
 background: rgb(12,47,196);
background: -moz-linear-gradient(339deg, rgba(12,47,196,1) 36%, rgba(218,8,249,1) 100%);
background: -webkit-linear-gradient(339deg, rgba(12,47,196,1) 36%, rgba(218,8,249,1) 100%);
background: linear-gradient(339deg, rgba(12,47,196,1) 36%, rgba(218,8,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c2fc4",endColorstr="#da08f9",GradientType=1); 
 
color: white;
}

header{ 
background: indigo;
}

p{
color: white;
}

li{
color: white;

h1{
color: white;
}
main > div > h1{
color: white;
}

footer {
    visibility: hidden;
}