body{

background: rgb(52,168,224);
background: linear-gradient(90deg, rgba(52,168,224,1) 0%, rgba(48,47,39,1) 100%);
color: white;
}

header{ 
background: black;
}

p{
color: white;
}

li{
color: white;

h1{
color:white;
}

